.navbar-search-bar,.dropdown-notifications,.dropdown-help,.frappe-menu{
    display: none !important;
}

.btn-reset.standard-sidebar-label{
    display: none;
}

/* .body-sidebar {
	background: #1C2B40 !important;
} */
.sidebar-item-label,.sidebar-item-icon {
	color: white !important;
    font-size: 16px !important;
}
.header-title{
    font-size: 20px !important;
    font-weight: 800 !important;
}
.standard-sidebar-item{
    padding: 10px 12px;
}
/* .standard-sidebar-item.active-sidebar{
    background: #3240524D !important;
}
.standard-sidebar-item:hover {
    background: #3240524D !important;
} */

.standard-sidebar-item .icon {
	stroke: white;
	width: 22px;
	height: 22px;
}
/* .body-sidebar-container.expanded .body-sidebar{
    width: 320px !important;
} */
.body-sidebar-bottom span,.body-sidebar-bottom .icon{
    color: white !important;
    stroke: white !important;
 }
:root{
    --sidebar-width: 288px !important;
    --surface-menu-bar: #1C2B40 !important;
    --sidebar-hover-color: #3240524D !important;
    --sidebar-active-color: #3240524D !important;
    --font-stack: "Cairo", "Amiri", "Actor", sans-serif !important;
    --text-base:16px;
    --text-sm:16px;

    /* Form Design */
    --input-padding: 18px;
}

.navbar-breadcrumbs a {
    pointer-events: none;   /* يمنع الضغط */
    cursor: default;        /* يشيل شكل اليد */
    color: inherit;         /* يخلي الشكل طبيعي */
    text-decoration: none;  /* يشيل underline */
}

/* org-strucre */
.tree-head{
    font-size: 20px;
    font-weight: bold;
}
.tree-body{
    font-size: 18px;
}
.tree-badge{
    color:#1f77b4;
    margin-right:8px;
}
#org-tree .jstree-node {
    margin-top: 20px;
}



.custom-page{
    margin: 20px;
}
.cardContainers{
    display:flex; 
    gap:15px;
    margin:20px 0px;
}
.cardContainers .card{
    flex:1; 
    padding:12px; 
    border:1px solid #ddd
}
.custom-page .card-title{
    font-size: 18px;
}
.cardContainers .card-value{
    font-weight: bold !important;
    font-size: 22px;
}
.requests-table * {
	text-align: start !important;
}
.custom-page .icon {
	width: 32px;
	height: 32px;
	color: #0284C5;
}


.dt-row-header .dt-header .dt-cell{
    font-size: 18px !important;
}


/* Form Design */
.frappe-control[data-fieldtype=Select] .control-input select,
.frappe-control[data-fieldtype=Select].form-group select     {
    padding: 8px !important;
    height: auto;
}
select,input.form-control,.control-value.like-disabled-input{
    min-height: 40px !important;
	background-color: #ffffff !important;
	border: 1px solid #d1d8dd !important;
    border-bottom: 2px solid #d1d8dd !important;
    border-radius: 4px !important;
    padding: 6px 12px !important;
    transition: border-color 0.3s ease, box-shadow 0.3s ease !important;
    appearance: none !important;
    -webkit-appearance: none !important;
}
select:hover {
    border-bottom-color: #999 !important;
}
.btn.btn-default{
    min-height: 40px !important;
}


.page-head .row.page-head-content{
    align-items: center;
    margin: 4px 0;
}
.standard-actions {
    align-items: center;
}


.datatable *{
    text-align: center;
}
.datatable .dt-row-header, .datatable .dt-cell, .datatable .dt-row-filter, .datatable .dt-row{
    width: auto !important;
    height: auto !important;
}
.datatable .dt-cell{
    padding: 5px 10px;
}
.datatable .dt-scrollable{
    height: 70vh !important;
}
.datatable .dt-scrollable .dt-row{
    position: relative !important;
    top: 0 !important;
}
.dt-cell__content.dt-cell__content--col-2{
    text-wrap: auto;
}





.color1{
    color: #e67e22;
}
.color2{
    color: #2277e6;
}
.color3{
    color: #2ecc71;
}
.color4{
    color: red
}
.color5{
    color: green
}







/* page design */
.custom-card {
    background: #ffffff;
    border-radius: 16px;
    padding: 10px 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    margin-top: 15px;
    overflow: hidden;
}

/* الجدول */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    direction: rtl;
    font-family: inherit;
}

/* الهيدر */
.custom-table thead {
    background: #f9fafb;
}

.custom-table th {
    padding: 14px 16px;
    text-align: right;
    font-weight: bold;
    color: #374151;
    font-size: 16px;
    border-bottom: 1px solid #e5e7eb;
}

/* الصفوف */
.custom-table td {
    padding: 14px 16px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 16px;
    color: #111827;
}

/* hover */
.custom-table tbody tr:hover {
    background: #f9fafb;
    transition: 0.2s;
}

/* آخر صف */
.custom-table tbody tr:last-child td {
    border-bottom: none;
}



.filterDateContainer{
    margin: 10px 0; 
    display: flex;
    align-items: center;
    gap: 10px;
    height: auto;
}

.filterDateContainer #attendance-date {
    height: fit-content !important;
}